<div id="DivLista">
    <h1>Bienvenidos al Chat!</h1>
    <div>
        <input type="text" id="chat-box">
        <button type="button" id="btn-chat-box">Enviar</button>
    </div>
    <div>
        <p id="message-logs"></p>
    </div>
</div>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script>
// const Swal = require('sweetalert')
const socket = io()
let user;
const chatBox = document.getElementById("chat-box")
const btnChatBox = document.getElementById("btn-chat-box")

var nombre = prompt("Ingresar Usuario")

btnChatBox.addEventListener("click",(e)=>{
   
     
            socket.emit("message",{user:nombre,message:chatBox.value});
            chatBox.value ="";
       
    
})
socket.on("messageLogs",(data)=>{
    const logs = document.getElementById("message-logs")
    let messages = "";

    data.forEach(obj =>{
        messages +='<p>'+obj.user + ' dice: '+obj.message + '</p' + '\n'
    })
    logs.innerHTML = messages
})

</script>